@model adminv2._4.Models.LocalPasswordModel

<div class="large-12 columns">        
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Đổi mật khẩu</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Manage", "Account"))
               {
                    <input type="hidden" value="@Request.QueryString["st"]" name="st"/>
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group">
                            @Html.ValidationSummary()
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword)<br />
                            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})                            
                            <span class="help-block">Vui lòng nhập mật khẩu cũ</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)<br />
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })                            
                            <span class="help-block">Vui lòng nhập mật khẩu mới</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)<br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })                            
                            <span class="help-block">Vui lòng xác nhận mật khẩu mới</span>
                        </div>
                    </div>
                    <div class="form-actions noborder">
                        <input type="button" value="Đổi mật khẩu" class="btn blue" id="btn-changePass"/>
                    </div>
               }
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $("#btn-changePass").click(function () {
            var valid = true;
            var _data = $('.portlet-body form').serialize();
            
            if ($("#OldPassword").val() == "") {
                showNotice("Lỗi", "Vui lòng nhập mật khẩu hiện tại")
                play
                valid = false;
            }
            if ($("#NewPassword").val() == "") {
                showNotice("Lỗi", "Vui lòng nhập mật khẩu mới")
                valid = false;
            }
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                showNotice("Lỗi", "Mật khẩu nhập lại không trùng khớp. Vui lòng nhập lại")
                valid = false;
            }
            if (valid) {
                $.ajax({
                    url: "/Account/Manage",
                    data: _data,
                    type: "post",
                    success: function (rs) {
                        if (rs.code == 200) {
                            $('.portlet-body form')[0].reset()
                            Common.PlaySuccessSound();
                            setTimeout(function () {
                                window.location.href = "/account/Login";
                            }, 3000)
                        }
                        showNotice("Hệ thống", rs.Message)                        
                    }
                });
            } else {
                Common.PlayErrorSound();
            }
           
        });
    });
</script>