@model adminv2._4.Models.LocalPasswordModel

<p>
   Bạn chưa tạo mật khẩu trên hệ thống của chúng tôi. hãy tạo mật khẩu để đăng nhập dễ dàng hơn khi không vào được faceBook
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Tạo mật khẩu</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)<br />
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)<br />
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>
}
