<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="vi" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="TRAN TRAN" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <script src="~/assets/plugins/jquery-1.10.2.min.js"></script>    
    @System.Web.Optimization.Styles.Render("~/bundles/global.css")
    <link href="/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color" />
    @RenderSection("head", false)
    @RenderSection("scripts", required: false)
  
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">

    <div class="page-content-wrapper">
        <div class="content">
            @RenderSection("featured", required: false)
            @if (ViewData["curentStore"] != null)
            {
                Models.StoreInfo thisStoreInfo = (Models.StoreInfo)ViewData["curentStore"];
                <div class="row hide-print" style="margin-top: 30px; width: 1120px; margin-left: auto; margin-right: auto; padding: 15px 15px 15px 15px;background-color:white;">
                    <div class="col-md-12">
                        <h3 class="page-title">Đơn hàng <small>Chi tiết đơn hàng</small></h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li><i class="fa fa-home"></i><a href="/">Trang tổng quan </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/pr?id=@Request.QueryString["id"]&st=@Request.QueryString["st"]">Kho bãi bán hàng</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/pr/order?id=@Request.QueryString["id"]&st=@Request.QueryString["st"]" id="OdLink">Chi tiết đơn hàng</a></li>
                            <li><a href="javascript:void(0);" onclick="$.print('#print');"> <i class="fa fa-print"></i>I n ấn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px; width: 1120px; margin-left: auto; margin-right: auto; padding: 15px 15px 15px 15px;background-color:white;" id="print">
                    <div class="right12">
                        <div class="left4">
                            <img src="@thisStoreInfo.Thumb" style=" height: 70px;" />
                        </div>
                        <div class="right txtR">
                            <span id="compName">@thisStoreInfo.AgenName</span><br>
                            <div style="font-size: 16px;font-style: italic; font-weight: bold;">@thisStoreInfo.ShotDesc</div>                            
                        </div>

                    </div>
                    @RenderBody()

                </div>
                <div style="position:fixed;top:45px;right:45px;cursor: pointer;" onclick="$.print('#print');" class="hide-print"><i class="fa fa-print" style="font-size: 60px;"></i></div>
            }

            <div class="clearfix"></div>



        </div>
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/global.js")

    @Html.Partial("_partial/_partialFooter")
    <script src="~/Scripts/jQuery.print.js"></script>

    <style>
        .table td, .table th {
            font-size: 18px;
            color: black !important;
        }

        .idc, .idc label {
            font-weight: bold !important;
            font-style: italic !important;
            font-size: 18px !important;
        }

        center {
            text-align: center;
        }

        .txtR {
            text-align: right;
        }

        #bcTarget {
            margin-top: 16px;
            float: left;
        }

        .l9 {
            float: left;
            width: 750px;
        }

        .r3 {
            float: right;
            width: 249px;
        }

        hr {
            border-top: 1px solid #0D325E;
        }

        * {
            font-size: 22px;
            line-height: 28px;
            font-family: 'Times New Roman';
        }

        table, table tr td, table tr, table thead tr, table thead th, table th {
            border: 1px solid black !important;
        }

        .table thead tr th {
            font-weight: bold;
        }

        .left11 {
            float: left;
            width: 988px;
            padding: 6px;
        }

        .left6 {
            float: left;
            width: 500px;
            padding: 6px;
        }

        .right6 {
            float: right;
            width: 500px;
            padding: 6px;
        }

        .right12 {
            float: right;
            width: 1012px;
            padding: 3px;
        }

        body {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            color: #000;
            font-size: 12px;
            line-height: 1.7em;
        }

        .wrapper {
            padding: 3rem 2rem 4rem 3rem;
        }

        .row {
            max-width: 1200px;
        }

        ul, li {
            list-style: none;
        }

        .fa-print {
            font-size: 40px;
        }

        .clearfix {
            clear: both;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        strong {
            font-weight: bold;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
            width: 70%;
        }

        .info th, .info td {
            border: 1px solid #ddd;
        }

        .logo {
            width: 250px;
        }

        .tittle, .tittle i, .tittle span {
            text-align: center;
            font-weight: bold;
            font-size: 26px;
            background-color: none;
            margin: 25px 0 25px 0;
        }

        .name {
            font-size: 24px;
            color: #444;
            padding: 10px 0 10px 0;
        }

        .product td, .product th {
            border-bottom: 1px solid #d1d1d1;
            padding: 15px;
            text-align: left;
        }

        .product th {
            font-weight: bold;
            background: #666;
            color: #fff;
        }

        .total {
            width: 450px;
            text-align: left;
        }

        .sign {
            position: relative;
            padding: 10px 100px 60px 100px;
        }

        footer {
            float: left;
            width: 100%;
            padding: 3rem 0 4rem 0;
            line-height: .6em;
        }

            footer .row {
                padding-left: 40px;
                padding-right: 40px;
            }

        @@page {
            size: A4;
            margin: 0;
        }

        @@media print {
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
             .hide-print {
                display: none;
            }
        }

        .left4 {
            float: left;
            width: 250px;
            padding: 0px;
        }

        .left5 {
            float: left;
            width: 320px;
            padding: 0px;
        }

        .left8 {
            float: left;
            width: 750px;
            padding: 6px;
        }
    </style>
   
</body>

</html>
